 body{
     margin: 0;
     padding: 0;
     background-color: #fafafa;
 }

 .container{
     width: 80%;
     margin: auto;
     overflow: hidden;
 }

 #logo{
    width:300px;
    height: 100px;
    background:url(images/stump2.png) no-repeat center;
    display: block;
    float: left;
 }
 header{
     min-height: 70px;
     padding-top: 30px;
 }
 
 nav{
     display: inline;
 }

 header nav {
     float: right;
 }

 header ul{
     list-style: none;
     overflow: hidden;
 }

header nav li a{
    text-decoration: none;
}

