 body{
     margin: 0;
     padding: 0;
     background-color: white;
 }

 .container{
     width: 80%;
     margin: auto;
     overflow: hidden;
 }

  .button_1{
      height: 40px;
      background-color: #1976D2;
      color: white;
      width: 100px;
      border:none;
      font-size: 12px;
  }

 #logo{
    width:300px;
    height: 100px;
    background:url(images/stump2.png) no-repeat center;
    display: block;
    float: left;
 }

 
 header{
     min-height: 100px;
 }

 header nav {
     padding-top: 30px;
     list-style: none;
     float: right;
 }

 header a{
     color: black;
     text-decoration: none;
 }

 
 header ul{
     list-style: none;
     overflow: hidden;
 }
 header li{
     display: inline;
     padding: 0 30px 20px 0;
 }

 .hello{
     width: 100%;
     display: grid;
     grid-template-columns: 1fr;
 }

 .image{
    background:url(images/stumpstump.jpg) no-repeat;
    background-size: 100%;
    min-height: 700px;
 }

 #newsletter h1{
     float: left;
 }

 #newsletter form{
     float: right;
     margin-top: 15px;
 }

 #newsletter input[type="email"]{
     padding: 6px;
     width: 200px;
     height: 25px;
 }

 #locations{
     margin-top: 50px;
     text-align: center;
 }  
 
#cities #locations-list h2{
    text-align: center;
    margin-top: 50px;
}

.spacing{
    padding-left: 1%;
    padding-right: 1%;
}
