
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
/* Fade in effect */
.fade-in {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}


.fade-in2 {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;

 -webkit-animation-duration:1s;
 -moz-animation-duration:1s;
 animation-duration:1s;
}


.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in2.two {
-webkit-animation-delay: 2.0s;
-moz-animation-delay: 2.0s;
animation-delay: 2.0s;
}

.trans--grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
  }
  
  .grow{
      width:100%;
  }
  
html{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}


body{
    background: white;
    height: 100%;
    padding: 0;
    margin: 0; 
    max-width: 100%;
    overflow:scroll;
    font-family: 'Quicksand', sans-serif;
    color: #212121;
    font-weight: 300;
    overflow-x: hidden;
   
}
#logo{
    width: 300px;
    height: 100px;
    background:url(images/stump2.png) no-repeat center;
    display: block;
    float: left;
    position: absolute;
}

.navigation{
    overflow: auto;
    display: inline;
}


.header {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 100px;
    z-index: 4;
  }
  
  .header ul {
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    color: orange;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 50px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  









/*CSS that affects the main section banner*/
#banner{  
    text-align: center;
    min-height: 500px;
    background: url('images/yay.svg')no-repeat 0 center;
    background-size: 100%;
}

#newsletter{
    position: relative;
    height:50px;
    width: 100%;
    margin-top:0;
}
    /*Removes that gap between the banner and the newsletter*/
#newsletter h2{
    font-weight: 500;
    margin-top: 0;
    float: left;
    padding-top: 10px;
    padding-left: 15%;
    
}

#newsletter form{
    margin-top:0;
    float: right;
    padding-right: 15%;
}
    

.text{
    margin-top: 5%;
    min-height: 10%;
    text-align: center;
}

.city-space{
    padding-left: 5px;
    padding-right: 5px;
}

  
.container{
    width:100%;
    margin:auto;
    overflow:hidden;
}

.button_1{
    color: white;
    border: none;    
    text-decoration: none;
    padding: 15px 32px;
    background-color: #1976D2;
    font-size: 16px;
}
#input{
    padding: 15px 35px;
    color: black;
}
#input .placeholder{
    color: black;
}

#cities .text #location-box{
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#cities h2{
    font-weight:lighter;
}



.city-grid {
    margin-top: 5%;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px,1fr));
    grid-template-rows: repeat(2,250px);
}
.city-grid #new-york{
    background: url('images/ny.jpg')no-repeat;
    background-size: cover;
}



.city-grid #new-york:hover{
    opacity:0.3;
}

.city-grid #los-angeles{
    background: url('images/la.jpg')no-repeat;
    background-size: cover;
}

.city-grid #los-angeles:hover{
    opacity:0.3;
}
.city-grid #portland{
    background: url('images/portland.jpg')no-repeat;
    background-size: cover;
}

.city-grid #portland:hover{
    opacity:0.3;
}
.city-grid #new-orleans{
    background: url('images/no.jpg')no-repeat;
    background-size: cover;
}

.city-grid #new-orleans:hover{
    opacity:0.3;
}

.city-grid #seattle{
    background: url('images/sea.jpg')no-repeat;
    background-size: cover;
}

.city-grid #seattle:hover{
    opacity:0.3;
}

.city-grid #chicago{
    background: url('images/chicago.jpg')no-repeat;
    background-size: cover;
}

.city-grid #chicago:hover{
    opacity:0.3;
}

hr{
    width: 80%;
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

.spacing{
    padding-left: 1%;
    padding-right: 1%;
}


#quote-section .quote-container{
    left:50%;
    right: 50%;
    text-align: center;
    font-size: 20px;
}


#quote-section .quote-container .quote{
    font-size: 4rem;
    
}

.banner-grid{
    grid-row-gap: 25px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1200px;
    grid-template-rows: 300px 300px;
}

.banner-grid #first{
    background: url('images/inside.jpg')no-repeat 0 -500px;
    background-size: cover;
}

.banner-grid #second{
    background: url('images/LAstump.jpg')no-repeat 0 -220px;
    background-size: cover;
}

footer{
    background-color: #FAFAFA;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.footer-container{
    margin-top: 10px;   
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%;
    text-align: center;
}

#f-h1{
    font-weight: bold;
    font-style: normal;
    display: inline;
    font-size: 15px;
}
.footer-link{
    margin-top: 0;
    float: right;
    display: inline;
    
}

.footer-link #f-h1{
    text-decoration: none; 
}

.footer-link li{
    display: inline;
   
}

.footer-link li a {
    text-decoration: none;
    font-style: normal;
    padding-left: 15px;
    padding-right: 15px;
}

.fa-instagram {
    color: black;
    font-size: 20px;
}

.fa-instagram:hover {
    color: orange;
}

.fa-facebook-f{
    color: black;
    font-size: 20px;
}
.fa-facebook-f:hover{
    color: orange;
    
}

.fa-yelp{
    color: black;
    font-size: 20px;
    
}

.fa-yelp:hover{
    color: orange;
}

.fa-twitter{
    color: black;
    font-size: 20px;
}

.fa-twitter:hover{
    color: orange;
}


/* Mobile Styles */
@media (max-width: 320px) and (max-width: 480px) {
    .city-grid {
        padding-top: 50px;
        justify-content: center;
        display: grid;
        grid-row-gap: 100px;
        grid-template-columns: 300px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px;
    }
    .city-grid #los-angeles{
        background: url('images/la.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #portland{
        background: url('images/portland.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #new-orleans{
        background: url('images/no.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #seattle{
        background: url('images/sea.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #chicago{
        background: url('images/chicago.jpg')no-repeat;
        background-size: 100%;
    }
    
    #cities .text #location-box{
        margin-top: 15rem;
        margin-bottom: 3rem;
        width: 100%;
        display: block;
    }
    #cities .text #location-box h1{
        padding-left: 15%;
    }
    
    #newsletter h2{
        font-weight: 500;
        margin-top: 0;
        padding-top: 10px;
        padding-left: 25%;
    }

    #newsletter form{
        margin-top:0;
        padding-left: 20%;
    }
    .footer-container{
        margin-top: 10px;   
        padding-top: 10px;
        width: 70%;
        height: 100%;
        text-align: center;
    }

    .banner-grid #first{
        background: url('images/inside.jpg')no-repeat 0 -500px;
        max-width: 100%;
        height: auto;
     
    }
    
    .banner-grid #second{
        background: url('images/LAstump.jpg')no-repeat 0 -220px;
        max-width: 100%;
        height: auto; 
    }
}   
/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        .city-grid {
            padding-top: 50px;
            justify-content: center;
                display: grid;
                grid-row-gap: 100px;
                grid-template-columns: 300px;
                grid-template-rows: 300px 300px 300px 300px 300px 300px;
            
            }
            .city-grid #los-angeles{
                background: url('images/la.jpg')no-repeat;
                background-size: 100%;
            }
            .city-grid #portland{
                background: url('images/portland.jpg')no-repeat;
                background-size: 100%;
            }
            .city-grid #new-orleans{
                background: url('images/no.jpg')no-repeat;
                background-size: 100%;
            }
            .city-grid #seattle{
                background: url('images/sea.jpg')no-repeat;
                background-size: 100%;
            }
            .city-grid #chicago{
                background: url('images/chicago.jpg')no-repeat;
                background-size: 100%;
            }
            
            #cities .text #location-box{
                margin-top: 15rem;
                margin-bottom: 3rem;
                width: 100%;
                display: block;
            }
            #cities .text #location-box h1{
                padding-left: 15%;
            }
            
            #newsletter h2{
                font-weight: 500;
                margin-top: 0;
                padding-top: 10px;
                padding-left: 25%;
            }
        
            #newsletter form{
                margin-top:0;
                padding-left: 20%;
            }
            .footer-container{
                margin-top: 10px;   
                padding-top: 10px;
                width: 70%;
                height: 100%;
                text-align: center;
            }
        
            .banner-grid #first{
                background: url('images/inside.jpg')no-repeat 0 -500px;
                max-width: 100%;
                height: auto;
             
            }
            
            .banner-grid #second{
                background: url('images/LAstump.jpg')no-repeat 0 -220px;
                max-width: 100%;
                height: auto; 
            }
        }



    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .city-grid {
            padding-top: 50px;
            justify-content: center;
            display: grid;
            grid-row-gap: 100px;
            grid-template-columns: 300px;
            grid-template-rows: 300px 300px 300px 300px 300px 300px;
        }
        .city-grid #los-angeles{
            background: url('images/la.jpg')no-repeat;
            background-size: 100%;
        }
        .city-grid #portland{
            background: url('images/portland.jpg')no-repeat;
            background-size: 100%;
        }
        .city-grid #new-orleans{
            background: url('images/no.jpg')no-repeat;
            background-size: 100%;
        }
        .city-grid #seattle{
            background: url('images/sea.jpg')no-repeat;
            background-size: 100%;
        }
        .city-grid #chicago{
            background: url('images/chicago.jpg')no-repeat;
            background-size: 100%;
        }
        
        #cities .text #location-box{
            margin-top: 15rem;
            margin-bottom: 3rem;
            width: 100%;
            display: block;
        }
        #cities .text #location-box h1{
            padding-left: 15%;
        }
        
        #newsletter h2{
            font-weight: 500;
            margin-top: 0;
            padding-top: 10px;
            padding-left: 25%;
        }
    
        #newsletter form{
            margin-top:0;
            padding-left: 20%;
        }
        .footer-container{
            margin-top: 10px;   
            padding-top: 10px;
            width: 70%;
            height: 100%;
            text-align: center;
        }
    
        .banner-grid #first{
            background: url('images/inside.jpg')no-repeat 0 -500px;
            max-width: 100%;
            height: auto;
         
        }
        
        .banner-grid #second{
            background: url('images/LAstump.jpg')no-repeat 0 -220px;
            max-width: 100%;
            height: auto; 
        }
}


 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
    .city-grid {
        margin-top: 5%;
        grid-column-gap: 50px;
        grid-row-gap: 100px;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        grid-template-rows: repeat(3,250px);
    }
    .city-grid #los-angeles{
        background: url('images/la.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #portland{
        background: url('images/portland.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #new-orleans{
        background: url('images/no.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #seattle{
        background: url('images/sea.jpg')no-repeat;
        background-size: 100%;
    }
    .city-grid #chicago{
        background: url('images/chicago.jpg')no-repeat;
        background-size: 100%;
    }
    
    #cities .text #location-box{
        margin-top: 15rem;
        margin-bottom: 3rem;
        width: 100%;
        display: block;
    }
    #cities .text #location-box h1{
        padding-left: 15%;
    }
    
    #newsletter h2{
        font-weight: 500;
        margin-top: 0;
        padding-top: 10px;
        padding-left: 25%;
    }

    #newsletter form{
        margin-top:0;
        padding-left: 20%;
    }
    .footer-container{
        margin-top: 10px;   
        padding-top: 10px;
        width: 70%;
        height: 100%;
        text-align: center;
    }

    .banner-grid #first{
        background: url('images/inside.jpg')no-repeat 0 -500px;
        max-width: 100%;
        height: auto;
     
    }
    
    .banner-grid #second{
        background: url('images/LAstump.jpg')no-repeat 0 -220px;
        max-width: 100%;
        height: auto; 
    }
    
    .header li {
        float: left;
      }
      .header li a {
        padding: 20px 30px;
      }
      .header .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .header .menu-icon {
        display: none;
      }
}

  @media (min-width: 1200px) { 
    .city-grid {
    margin-top: 5%;
    grid-column-gap: 20px;
    grid-row-gap: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px,1fr));
    grid-template-rows: repeat(2,250px);
    }
}
  