

#logo{
    width: 350px;
    height: 100px;
    background:url(stump2.png) no-repeat center;
    display: block;
    float: left;
    position: relative;
}

.navigation{
    display: inline;
}

.header{
    position: relative;
    width: 100%;
    min-height: 30px;
}
.header-link li{
    display: inline-block;
    padding: 30px 120px 50px 0px;
}
.header-link li a {
    text-decoration: none;
    color: black;
}

.navigation{
    float: right;
}
.container{
    width: 100%;
}

pic{
    position: absolute;
    height: auto;
    max-width: 100%;
    width:100%;
    background-size:cover;
    background-repeat: no-repeat;
}
.banner-image{
    padding-right:10px;
    background:url('yeeee.svg') no-repeat center;
    position: absolute;
    margin-top: 20%;
    height:50%;
    width: 98%;
    background-size: 100%;
}
